@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono', monospace;
}

.text-outline {
  -webkit-text-stroke: 1px #ffffff; /* White stroke */

}

.text-outline-hover {
  -webkit-text-stroke: 1px #00ff99 !important; /* Green stroke */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  body{
    @apply bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[48px] lg:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] lg:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] lg:text-[24px] leading-[1.1] font-semibold;
  }
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9fafb; /* Light gray background */
}

.spinner {
  font-size: 4rem; /* Adjust size of the icon */
  color: #252734; /* Indigo color */
  animation: spin 1.5s linear infinite; /* Spinner rotation */
}

/* Spinner rotation animation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.social-icon {
  fill: white;
  transition: fill 0.3s ease;
}

.social-icon:hover {
  fill: #2A2C39;
}





.title-text {
  font-weight: 500;
  animation: lights 5s 750ms linear infinite;
  color: hsl(228, 42%, 86%);
  font-family: 'Merienda', sans-serif;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}
